div {
    margin: 20px;
    background-color: aliceblue;
    font-family: arial;
    border-style: dashed;
    border-color: antiquewhite;
    
}

.titulo {
    background-color: lightcoral;
    color: white;
    font-family: Arial;
    font-size: 19px;
    padding: 20px;
    text-align: center;
}

div p {font-size: 12px; 
    padding: 15px;
    text-align: justify;
}